* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 720px) {
  html {
    font-size:87.5%;
  }
}


body,input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
  background: var(--body-bg-color);
  color: var(--purple);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}