.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column; 

    img {
        width: 200px;
        height: 200px;
        clip-path: circle();
    }

    p {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        
        a {
            height: 3rem;
            width: 20rem;
            margin-bottom: 1rem;
            border: 1px solid var(--purple);
            border-radius: 0.3rem;
            padding:0 2.3rem;
            box-shadow: rgb(10 11 13 / 29%) 0px 2px 4px 0px;;

            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--body-bg-color);

            transition: filter (0.3s);

            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;

        a {
            & + a {
                margin-left: 2rem;
            }
        }
        
        p {
            align-items: center;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
}

